.filter-panel {
  position: absolute;
  top: 30px;
  right: 20px;

  font-size: 14px;
  z-index: 1000;
  width: 200px;

}

.filter-group {
  margin-bottom: 16px;
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.filter-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.filter-group label {
  display: block;
  margin: 4px 0;
}